@import url('https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap');

body 
{
	background-image: url("/images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.jumbotron
{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

h4 {
	text-align: center;
	font-family: 'Crimson Pro', serif;
}

.btn
{
	float: right;
}

footer
{
	font-family: 'Crimson Pro', serif;
	color: white;
}